/* General */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F6F8F9;
}

/* Header */
header{
  height: 70px;
  background-color: white;
  margin-bottom: 50px;
  padding: 10px 20px;
}

header span{
  font-size: 45px;
  font-weight: 900;
  vertical-align: middle;
}

header img{
  height: 100%;
  vertical-align: middle;
}

/* Main */
section ul{
  list-style-type: none;
}

.task-list > li{
  margin-bottom: 30px;
}

.container section{
  padding-left: 80px;
}

.container{
  width: 80%;
  max-width: 1080px;
  margin: auto;
  background-color: white;
  margin: auto;
  border-radius: 15px;
}

.task-btn{
  padding: 5px 0px;
  border-bottom: 3px solid #F6F8F9;
}

.btn{
  display: inline-block;
  margin: 15px 5px;
  text-align: center;
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: 550;
  font-size: 14px;
  cursor: pointer;
}

.btn.add-task{
  background-color: #46ACF0;
  border: 2px solid #46ACF0;
  color: white;
}

.btn.add-section{
  background-color: white;
  border: 2px solid #CED4D7;
  color: #CED4D7;
}

.task-list{
  margin-top: 50px;
  font-size: 20px;
  padding-bottom: 50px;
}

.task-item{
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 5px;
  font-size: 18px;
}

.task-title::before{
  content: "\25BC";
  margin-right: 4px;
}

.task-item::before{
  display: inline-block;
  height: 16px;
  width: 16px;
  font-size: 16px;
  line-height: 16px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  margin-right: 8px;
}

.task-item.checked::before{
  content: "\2713";
  border: 1px solid green;
  color: green;
}

.task-item.unchecked::before{
  content: "\00D7";
  border: 1px solid red;
  color: red;
}

.task-tag{
  margin-left: 5px;
  font-size: 12px;
  font-weight: 600;
  padding: 8px 14px;
  color: white;
  border-radius: 15px;
  text-align: center;
}

.task-tag.editorial{
  background-color: #20A9E5;
}

.task-tag.q1-goals{
  background-color: #9C72E4;
}

.task-tag.recruiting{
  background-color: #64C0A9;
}

.task-tag.mobile{
  background-color: #F0992B;
}

.task-tag.website{
  background-color: #D863A1;
}

.task-tag.sales{
  background-color: #B0C926;
}