/* General */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F6F8F9;
}

/* Header */
header{
  height: 70px;
  background-color: white;
  margin-bottom: 50px;
  padding: 10px 20px;
}

header span{
  font-size: 45px;
  font-weight: 900;
  vertical-align: middle;
}

header img{
  height: 100%;
  vertical-align: middle;
}

/* Main */
main{
  width: 80%;
  max-width: 1080px;
  margin: auto;
}

main section{
  background-color: white;
}

.text-container{
  margin: auto;
  width: 88%;
  max-width: 1000px;
}

.task-buttons{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 3px;
}

.button{
  display: inline-block;
  margin: 15px 5px;
  text-align: center;
  padding: 10px 13px;
  border-radius: 5px;
  font-weight: 550;
  font-size: 14px;
}

.button.add-task{
  background-color: #46ACF0;
  color: white;
}

.button.add-section{
  border: 2px solid #CED4D7;
  color: #CED4D7;
}

.list{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.section-task{
  margin-bottom: 30px;
  font-size: 20px;
}

.section-task.task-item{
  font-size: 18px;
  margin: 30px 0;
}

.task-symbol{
  display: inline-block;
  height: 20px;
  width: 20px;
  font-size: 16px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  margin-right: 8px;
}

.task-symbol.checkmark{
  border: 1px solid green;
  color: green;
}

.task-symbol.cross{
  border: 1px solid red;
  color: red;
}

.task-tag{
  margin-left: 5px;
  font-size: 12px;
  font-weight: 600;
  padding: 8px 14px;
  color: white;
  border-radius: 15px;
  text-align: center;
}

.task-tag.editorial{
  background-color: #20A9E5;
}

.task-tag.q1-goals{
  background-color: #9C72E4;
}

.task-tag.recruiting{
  background-color: #64C0A9;
}

.task-tag.mobile{
  background-color: #F0992B;
}

.task-tag.website{
  background-color: #D863A1;
}

.task-tag.sales{
  background-color: #B0C926;
}